<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">


	<!-- initTask -->
	
	<!-- dao -->
	<bean id="apprenticeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.landicorp.moneytree.dao.IApprenticeDao"></property>
	</bean>
	<bean id="numgroupDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.landicorp.moneytree.dao.INumgroupDao"></property>
	</bean>
	<bean id="periodDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.landicorp.moneytree.dao.IPeriodDao"></property>
	</bean>
	<bean id="historyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.landicorp.moneytree.dao.IHistoryDao"></property>
	</bean>
	
	<!-- service -->
	<bean id="apprenticeService" class="com.landicorp.moneytree.service.impl.ApprenticeServiceImpl" />
	<bean id="numgroupService" class="com.landicorp.moneytree.service.impl.NumgroupServiceImpl" />
	<bean id="periodService" class="com.landicorp.moneytree.service.impl.PeriodServiceImpl" />
	<bean id="historyService" class="com.landicorp.moneytree.service.impl.HistoryServiceImpl" />
	

	<!-- struts2 action -->
	
	<!-- 下家管理 action -->
	<bean id="apprenticeInsertAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeInsertAction"
		scope="prototype" />
	<bean id="apprenticeSearchAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeSearchAction"
		scope="prototype" />
	<bean id="apprenticeUpdateAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeUpdateAction"
		scope="prototype" />
	<bean id="apprenticeDeleteAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeDeleteAction"
		scope="prototype" />
	
	<!-- 收数 action -->
	<bean id="chargeNumberAction" class="com.landicorp.moneytree.action.chargeNumber.ChargeNumberAction"
		scope="prototype" />
		
	<!-- 号码群组action -->
	<bean id="numgroupSearchAction" class="com.landicorp.moneytree.action.numgroup.NumgroupSearchAction"
		scope="prototype" />
	<bean id="numgroupInsertAction" class="com.landicorp.moneytree.action.numgroup.NumgroupInsertAction"
		scope="prototype" />
	<bean id="numgroupUpdateAction" class="com.landicorp.moneytree.action.numgroup.NumgroupUpdateAction"
		scope="prototype" />
	<bean id="numgroupDeleteAction" class="com.landicorp.moneytree.action.numgroup.NumgroupDeleteAction"
		scope="prototype" />
		
	<!-- 期数action -->
	<bean id="periodSearchAction" class="com.landicorp.moneytree.action.period.PeriodSearchAction"
		scope="prototype" />
	<bean id="periodInsertAction" class="com.landicorp.moneytree.action.period.PeriodInsertAction"
		scope="prototype" />
	<bean id="periodUpdateAction" class="com.landicorp.moneytree.action.period.PeriodUpdateAction"
		scope="prototype" />
</beans>