<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">


	<!-- initTask -->
	
	<!-- dao -->
	<bean id="apprenticeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.landicorp.moneytree.dao.IApprenticeDao"></property>
	</bean>
	
	
	<!-- service -->
	<bean id="apprenticeService" class="com.landicorp.moneytree.service.impl.ApprenticeServiceImpl" />

	<!-- struts2 action -->
	
	<!-- 下家管理 action -->
	<bean id="apprenticeInsertAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeInsertAction"
		scope="prototype" />
	<bean id="apprenticeSearchAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeSearchAction"
		scope="prototype" />
	<bean id="apprenticeUpdateAction" class="com.landicorp.moneytree.action.apprentice.ApprenticeUpdateAction"
		scope="prototype" />
	
</beans>