<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">


	<!-- initTask -->
	
	<!-- dao -->
	<bean id="analysisDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.landicorp.moneytree.dao.IAnalysisDao"></property>
	</bean>
	
	<!-- service -->
	<bean id="analysisService" class="com.landicorp.moneytree.service.impl.AnalysisServiceImpl" />

	<!-- struts2 action -->
	
	<!-- 英葵分析 action -->
	<bean id="analysisSearchAction" class="com.landicorp.moneytree.action.analysis.AnalysisSearchAction"
		scope="prototype" />
		
	<!-- 历史记录 action -->
	<bean id="historySearchAction" class="com.landicorp.moneytree.action.history.HistorySearchAction"
		scope="prototype" />
		

</beans>